$column_width: 40px;
$column_gutter: 20px;

@mixin column-width($count: 1) {
	width: ($column_width * $count) + ($column_gutter * $count) - $column_gutter;
}

@mixin column($count: 1) {
	@include column-width($count);
  margin-right: $column_gutter;
  float: left;
}

@mixin skip-column($count: 1) { 
	margin-left: ($column_width * $count) + ($column_gutter * $count) - $column_gutter;
}

