$body_font: "Droid Serif", Georgia, serif;
$title_font: "M+2pheavy", "Helvetica Neue", Arial, Helvetica, sans-serif;
$clean_font: "Helvetica Neue", Arial, Helvetica, sans-serif;
$code_font: "DejaVu Sans Mono", Inconsolata, Consolas, "Lucida Console", monospace;

$color_base: #CC211B;
$link_base: #055799; /* triad blue */