$body_font: "Droid Serif", Georgia, serif;
$title_font: "M+2pheavy", "Helvetica Neue", Arial, Helvetica, sans-serif;
$clean_font: "Helvetica Neue", Arial, Helvetica, sans-serif;
$code_font: "DejaVu Sans Mono", Inconsolata, Consolas, "Lucida Console", monospace;

$base_color: #CC211B;
$link_color: #055799; /* triad blue */
$neutral_color: #555;