/* Small (iPhone) */
@media only screen and (max-device-width: 480px) {
  body { margin: 2em 3em; }
	
	body > header {
		h1, h2 { font-family: Helvetica; font-weight: bold; } /* No @font-face */
	}
}
	 	
/* Medium (iPad) */
@media only screen and (max-device-width: 1024px) {
	body { margin: 2em 0.7em; }
	body > header {
		h1, h2 { font-family: Helvetica; font-weight: bold; } /* No @font-face */
	}
	
}

/* Large (iPhone 4) */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}
