h1, h2, h3, h4, h5, h6 { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

@font-face {
	font-family: 'M+2pheavy';
	src: url('/fonts/mplus-2p-heavy-webfont.eot#') format('eot'), 
	     url('/fonts/mplus-2p-heavy-webfont.woff') format('woff'), 
	     url('/fonts/mplus-2p-heavy-webfont.ttf') format('truetype'),
	     url('/fonts/mplus-2p-heavy-webfont.svg#mplus2pheavy') format('svg');
  font-weight: bold;
  font-style: normal;
}

