@font-face {
	font-family: 'M+2pheavy';
	src: url('/fonts/mplus-2p-heavy-webfont.eot#') format('eot'), 
	     url('/fonts/mplus-2p-heavy-webfont.woff') format('woff'), 
	     url('/fonts/mplus-2p-heavy-webfont.ttf') format('truetype'),
	     url('/fonts/mplus-2p-heavy-webfont.svg#mplus2pheavy') format('svg');
  font-weight: bold;
  font-style: normal;
}

body { font-size: 14px; line-height: 1.45em; font-family: "Droid Serif"; }

h1 { font-size: 300%; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
/* h5, h6 are 100% */