@mixin clearfix {
	zoom: 1;

	&:before, &:after { content: '✔'; visibility: hidden; height: 0; display: block; }
	&:after { clear: both; }
}

@mixin debug {
	border: 1px solid red;
}

@mixin opacity($float) {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$float*100)";

	/* IE 7- */
	filter: alpha(opacity=($float * 100));

	opacity: $float;

}

