/* Global */
@import "reset";
@import "prettify-js";
@import "html5";
@import "typography";

/* Utils and mixins */
@import "utils";
@import "css3";
@import "buttons";
@import "columns";

$color_base: #CC211B;
$link_base: #055799; /* triad blue */

a:link { color: lighten($link_base, 10%); text-decoration: none; border-bottom: 1px solid #b8b8b8; }
a:visited { color: darken($link_base, 10%); border-bottom: 1px solid #e8e8e8; }
a:hover { color: darken($link_base, 20%); border-bottom: 1px solid darken($link_base, 20%); }
a:active { color: $color_base; border-bottom: none; }

p.pubdate { display: none; }

header.head {
	div.logo {
		@include border-radius(0.3em);
		font-size: 10px; background-color: $color_base; color: #fff; padding: 2.5em 0.7em 0.25em; font-family: Arial, Helvetica, sans-serif; text-align: center; letter-spacing: 0.1em;
	}
	
	h1 { line-height: 1em; font-family: "M+2pheavy"; font-weight: bold; color: black; }
  h1 a { color: black; }
  h1 a:link, h1 a:visited {border-bottom: 0;}
  h1 a:hover { text-shadow: 0 0 5px rgba(0,0,0,.6); }
	h2 { font-size: 12px; margin-bottom: 0.5em; font-family: "Droid Serif"; font-style: italic; font-weight: normal; color: #666; }
	
	div#search {
		ol:empty { border: 0; }
	  ol {
	    li { text-align: left; list-style: none; } 
	    li a { display: block; color: #666; padding: 0.2em 0.4em; }
	    li a span { color: lighten(#666, 20%); display: block; font-style: italic; font-size: 0.7em; }
	    li a:focus, li a.selected { 
	      color: white; background-color: $color_base;
	      span { color: rgba(255, 255, 255, 0.6); }
	    }
	    li:first-child a.selected { @include border-radius(0.2em 0.2em 0 0); }
	    li:last-of-type a.selected { @include border-radius(0 0 0.2em 0.2em); }
	  }
	}
}

section[role="main"] {
	clear: both;
}

section[role="main"] > h2 {
	position: relative; text-transform: uppercase; letter-spacing: 0.2em; line-height: 1.5em; font-family: "M+2pheavy"; margin: 2em 0;
	.secno { position: absolute; display: block; left: -1.5em; text-align: right;  }	
}

a.secno, h3 .secno, h4 .secno, h5 .secno, h6 .secno { display: none; } /* Only top level section numbering */

h3, h4, h5, h6 { margin: 3em 0 1em 0; }
h4, h5, h6 {color: #4c0c0a;}

section#credits {
	margin-top: 3em;
	h1 { margin-bottom: 1em; font-size: 34px; }
}

p { margin-bottom: 1em; }

ul, ol, dl { margin-bottom: 1em; }
ul li { list-style: none; /*margin-bottom: 0.25em;*/ }

ul li:before { content: '\22c5'; font-size: 2em; color: #CCC; margin-left: -0.65em; font-family: Arial; font-weight: bold; }

ul li ul { margin: 0em; }
li li { margin-left: 1.2em; }

/* DOM Tree */
ul.domTree li { margin-bottom: 0; }
ul.domTree li:before { display: none; }

code, pre { font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Andale Mono", Inconsolata, "Lucida Console", Consolas, Monaco, "courier new", courier; display: inline-block; font-style: normal; }

pre { 
	display: block; padding: 0.25em 0.3em; border: 1px solid #eee;
	
	/* Pinched from boilerplate */
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	/*white-space: pre-line;*/ /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

pre::-webkit-scrollbar { height: 1.2ex; }
pre::-webkit-scrollbar-thumb:horizontal { background: rgba(0, 0, 0, 0.15); -webkit-border-radius:1ex; }
pre::-webkit-scrollbar-thumb:horizontal:hover{ background: rgba(0, 0, 0, 0.2); cursor:pointer; }
pre::-webkit-scrollbar-thumb:horizontal:active{ background: lighten($color_base, 20%); }
pre.idl { display: none; } /* Browser implementors, only, I reckon */

section[role="main"] > dl { margin: 2em 0; }
dt { font-weight: bold; }
dd { margin-bottom: 0.5em; }

table { border: 0; }
table th, table td { border: 0; border-bottom: 1px solid #acc; padding: 4px; vertical-align: top; }
table th li, table td li { margin: 0 0 0 1.5em; }
table caption, table th { text-align: left; color: #4c0c0a; }
table th { font-weight: bold; }
table td { vertical-align: top; padding: 0.25em 1.25em 0.25em 0em; }
table tr, table tbody { border: 0px; }
hr { display: none; }

.toc {
	a:link { border-bottom: 1px solid #eee; }
	a:visited { border-bottom: 1px solid #fff; }
	.secno { color: #999; }
}

/* Only found on the index page */
section[role="main"] > ol.toc {
	display: block;
	list-style: none;
	li { position: relative; }
	li span { margin-left: -1.5em; position: absolute; }
	li ol { display: none; }
}
strong.rfc2119 { font-size: 0.8em; letter-spacing: 0.1; text-transform: uppercase; }

/* 
	Typographic conventions
	(http://developers.whatwg.org/introduction.html#typographic-conventions)
*/
.note { padding: 10px; background-color: #eee; }
.example { color: #666; font-style: italic; }
.XXX { background-color: lighten($color_base, 50%); padding: 0.5em; } /* An open issue */
.warning { background-color: lighten($color_base, 40%); border: 1px solid $color_base; padding: 0.5em; }
.css { 
	&:before { content: "CSS:"; color: #999; font-size: 1em; display: block; background: transparent; }
}

/* Up next */
div#up-next {
  @include box-shadow(2px, 2px, 3px, rgba(0, 0, 0, 0.4)); 
	
	margin-top: 3em; padding: 0.7em 1em; background-color: #4c0c0a;
  p { font-style: italic; font-size: 0.7em; margin: 0; color: white; }
  h1 { font-weight: bold; font-size: 16px; margin: 0; color: white; }
  h1:after{ content: "—"; }

  &:hover { 
    background: $color_base;
    @include box-shadow(3px, 3px, 6px, rgba(0, 0, 0, 0.7));
    h1 { color: white; }
    p { color: white; }
  }
}

/* Footer (all pages) */
body .wrapper > footer {
	margin-top: 3em; border-top: 1px solid #ccc; padding: 1em 0 0 0;  clear: right; 
	p { color: #666; font-size: 1em; margin: 0; }
}

/* Offline */
body #sync { display: none; }
body.syncing #sync { display: block; }
body #sync {
	z-index: 1; background-color: rgba(0, 0, 0, 0.4); color: white; font-size: 0.8em; font-style: italic; position: absolute; top: 2em; right: 0; margin: 0 auto; padding: 1em;
	span { display: block; color: rgba(255, 255, 255, 0.6); }
}