@charset "utf-8";
@import "all";

$color_base: #CC211B;

body .wrapper { @include column-max-width(10); margin: 1em auto; }

/* Header */
header.head {
	width: auto; text-align: center;
	.logo { margin: 0 auto; width: 60px; }
}

/* Navigation */
nav button { display: none; }
nav, nav ol li { text-align: center; }
nav ol { list-style: none; }
nav > ol:before { content: "— On this page —"; font-size: 14px; display: block; font-style: italic; color: $color_base; }
nav ol li a { color: black; font-size: 12px; line-height: 1.3em; }
nav ol li li { margin: 0; }

/* Search */
div#search { 
/*	background-color: #eee;*/
	
	input { width: 95%; }
}


/* Reference links aren't shown on handheld */
div.reference-wrapper {
  aside.reference, a[href*="#refs"] { display: none; }
}

/* Main */
section[role="main"] { 
	padding: 0 2em; font-size: 110%; line-height: 1.6em;
	
	img { width: 100%; }
}

/* Credits */
section#credits {
	margin-top: 2em;
	
	h1 { font-size: 26px; }
}

/* Small (iPhone) */
@media only screen and (max-device-width: 480px) {}

/* Medium (iPad) */
@media only screen and (max-device-width: 1024px) {}

/* Large (iPhone 4) */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {}
