@charset "utf-8";
@import "all";

/*$color_base: #CC211B;*/

body .wrapper { @include column-max-width(10); margin: 1em auto; }

/* Header */
header.head {
	width: auto; text-align: center;
	.logo { margin: 0 auto; width: 60px; margin-bottom: 1em; }
}

/* Navigation */
nav button { display: none; }
nav, nav ol li { text-align: center; }
nav ol { list-style: none; }

nav > ol:before { 
	content: "— On this page —"; font-family: $title_font; font-size: 14px; display: block; text-transform: uppercase; letter-spacing: 0.1em; margin-bottom: 0.75em;
}
nav ol li span { display: none; }
nav ol li a { font-size: 14px; line-height: 1.1em; }
nav ol li li { margin: 0; }

/* Search */
div#search {
	margin: 1em 0;
	
	input, ol { width: 90%; margin: 0 auto; }
	ol { border: 1px solid #cecece; }
}

/* Reference links aren't shown on handheld */
div.reference-wrapper {
  aside.reference, a[href*="#refs"] { display: none; }
}

/* Main */
section[role="main"] { 
	padding: 0 2em; font-size: 110%; line-height: 1.6em;
	
	img { width: 100%; }
	& > h2 { font-size: 18px; }
}

/* Credits */
section#credits {
	margin-top: 2em;
	
	h1 { font-size: 26px; }
}

/* Small (iPhone) */
@media only screen and (max-device-width: 480px) {}

/* Medium (iPad) */
@media only screen and (max-device-width: 1024px) {}

/* Large (iPhone 4) */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {}
