@charset "utf-8";

/* Utilities, mixins, global */
@import "reset";
@import "prettify-js";
@import "utils";
@import "html5";
@import "css3";
@import "typography";
@import "columns";

/* Modular */
@import "handheld";

$color_base: #CC211B;

a:link, a:visited { color: lighten($color_base, 10%); text-decoration: none; }
a:hover { color: darken($color_base, 20%); }

body .wrapper { @include column-width(14); margin: 4em auto; padding: 0 1em; }

@import "header";

p.pubdate { display: none; }

section[role="main"] {
	@include skip-column(2);
	clear: left;
}

section[role="main"] > h2 {
	position: relative; text-transform: uppercase; letter-spacing: 0.2em; font-family: "M+2pheavy"; margin: 2em 0;
	.secno { position: absolute; display: block; left: -1.5em; color: #999; text-align: right;  }	
}

a.secno, h3 .secno, h4 .secno, h5 .secno, h6 .secno { display: none; } /* Only top level section numbering */

h3, h4, h5, h6 { margin: 3em 0 1em 0; }
h4, h5, h6 { color: $color_base; }

section#credits { 
	@include skip-column(2);
	
	h1 { margin-bottom: 1em; font-size: 34px; }
}

p { @include column-width(9); margin-bottom: 1em; }

/* Handle references inline */
div.reference-wrapper {
  @include clearfix;

  p { @include column(9); }
  aside.reference { @include column(3); font-size: 11px; color: #777; font-style: italic; margin: 0 0 1em 0; }
  a[href*="#refs"] { display: none; } /* Hide reference style links */
}

ul, ol { 
	@include column-width(10);
	margin-bottom: 1em;
}
ul li { list-style: none; position: relative; margin-bottom: 0.25em; }

ul li:before { content: '\22c5'; font-size: 2em; color: #CCC; position: absolute; top: -0.35em; left: -0.65em; font-family: Arial; font-weight: bold; }

ul li ul { margin: 0em; }
li li { margin-left: 1.2em; }

/* DOM Tree */
ul.domTree {
	li { margin: 0; }
}

code, pre { font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Andale Mono", Inconsolata, "Lucida Console", Consolas, Monaco, "courier new", courier; display: inline-block; font-style: normal; }

pre { 
	@include column-width(13); position: relative;
  margin: 1em 0em 1em -2.6em; display: block; padding: 0.25em 0.3em; border: 1px solid #eee;
	
	/* Pinched from boilerplate */
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	/*white-space: pre-line;*/ /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

pre::-webkit-scrollbar { height: 1.2ex; }
pre::-webkit-scrollbar-thumb:horizontal { background: rgba(0, 0, 0, 0.15); -webkit-border-radius:1ex; }
pre::-webkit-scrollbar-thumb:horizontal:hover{ background: rgba(0, 0, 0, 0.2); cursor:pointer; }
pre::-webkit-scrollbar-thumb:horizontal:active{ background: lighten($color_base, 20%); }
pre.idl { display: none; } /* Browser implementors, only, I reckon */

section[role="main"] > dl { margin: 2em 0; }
dt { font-weight: bold; }
dd { margin-bottom: 0.5em; }

table { border: 0; }
table th, table td { border: 0; border-bottom: 1px solid #acc; padding: 4px; vertical-align: top; }
table th li, table td li { margin: 0 0 0 1.5em; }
table caption, table th { text-align: left; color: #6cc; }
table th { color: #099; }
table td { vertical-align: top; padding: 0.25em 1.25em 0.25em 0em; }
table tr, table tbody { border: 0px; }
hr { display: none; }

/* The TOC is only shown on the index page (Temp) */
section[role="main"] > nav { display: none;	}

/* Only found on the index page */
section[role="main"] > ol.toc {
	display: block;
	list-style: none;
	a { color: black; } 
	a:visited { color: #666; }
	a:hover { color: $color_base; }
	li { position: relative; }
	li span { margin-left: -1.5em; position: absolute; }
	li ol { display: none; }
}
strong.rfc2119 { font-size: 0.8em; letter-spacing: 0.1; text-transform: uppercase; }

/* 
	Typographic conventions
	(http://developers.whatwg.org/introduction.html#typographic-conventions)
*/
.note { @include column-width(10); position: relative; margin-left: -2em; padding: 0.5em; background-color: #eee; }
.example { color: #666; font-style: italic; }
.XXX {} /* An open issue */
.warning { background-color: lighten($color_base, 50%); padding: 0.5em; }
.css { 
	&:before { content: "CSS:"; color: #999; font-size: 1em; display: block; background: transparent; }
}

/* Up next */
div#up-next {
	@include skip-column(2);
	@include column-width(9);
  @include box-shadow(2px, 2px, 3px, rgba(0, 0, 0, 0.4)); 
	
	margin-top: 3em; padding: 0.7em 1em; background-color: #eee;
  p { font-style: italic; font-size: 0.7em; margin: 0; color: #666; }
  h1 { font-weight: bold; font-size: 16px; margin: 0; color: #666; }
  h1:after{ content: "—"; }

  &:hover { 
    background: $color_base;

    h1, p { color: white; }
  }
}

/* Footer (all pages) */
body .wrapper > footer {
	@include skip-column(2);
	@include column-width(10);
	
	margin-top: 3em; border-top: 1px solid #ccc; padding: 1em 0 0 0;  clear: right; 
	
	p { color: #666; font-size: 1em; margin: 0; }
}

/* Offline */
body #sync { display: none; }
body.syncing #sync { display: block; }
body #sync {
	z-index: 1; background-color: rgba(0, 0, 0, 0.4); color: white; font-size: 0.8em; font-style: italic; position: absolute; top: 2em; right: 0; margin: 0 auto; padding: 1em;
	span { display: block; color: rgba(255, 255, 255, 0.6); }
}